.wrapper {
    display: flex;
    padding: 9px 16px;
    -webkit-box-align: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        background: rgba(22, 24, 35, 0.03);
    }

    &:hover .more {
        color: currentColor;
    }
}
.avatar {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    object-fit: contain;
}
.info {
    flex: 1;
    margin-left: 1.2rem;
    text-align: left;
}
.username {
    font-size: 1.6rem;
    font-weight: 500;
}
.verify-badge {
    margin-left: 6px;
}
.name {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
}
