.wrapper {
    width: 100%;
    max-height: min(100vh - 156px, 734px);
    min-height: 100px;
    border-radius: 0.8rem;
    padding-top: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
    background: rgb(255, 255, 255);
}
